.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .app {
    flex-direction: row;
  }
}
